*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
nav{
  display: flex;
  /*  */
  justify-content: space-between;
  padding: 20px 20px;
  /* border: solid black; */
}

nav ul{
  display: flex;
  justify-content: space-around;
  width: 25%;
  /* border: solid black; */
  /* font-weight: 500 medium ; */
}

h1{
  padding-top: 15px;
}

li{
  list-style: none;
  padding-top: 15px ;
}



li a{
  text-decoration: none;
  cursor: pointer;
  color: #f15927 ;
  font-size: 16px;
  font-weight: 500,medium;

  
}

li a:hover{
  border-bottom: solid #35acfc 2px;
}
/* Nav btn styling */
button a{
  text-decoration: none;
  color: #f15927 ;
}
 button{
   
   width: 130px;
   height: 50px;
   font-weight: 500;
   border-radius: 15px;
   /* opacity: .7; */
   background-color: #ffffff;
   
   
 }


.sub-page-hero{
  background-color: #e9dfce ;
  min-height: 100vh;
}

.section-1{
  display: flex;

  border: solid black;
}

.flex-container-2{
  text-align: center;
  align-items: center;
  border: solid red;
}



.flex-item-2{
  font-size: 24px;
  border: solid green;
}
