*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #e9dfce; */
}

/* Navigation Bar */
nav{
  display: flex;
  /*  */
  justify-content: space-between;
  padding: 20px 20px;
  /* border: solid black; */
}

nav ul{
  display: flex;
  justify-content: space-around;
  width: 25%;
  /* border: solid black; */
  /* font-weight: 500 medium ; */
}

h1{
  padding-top: 15px;
}

li{
  list-style: none;
  padding-top: 15px ;
}



li a{
  text-decoration: none;
  cursor: pointer;
  color: #f15927 ;
  font-size: 16px;
  font-weight: 500,medium;

  
}

li a:hover{
  border-bottom: solid #35acfc 2px;
}
/* Nav btn styling */
button a{
  text-decoration: none;
  color: #f15927 ;
}
 button{
   
   width: 150px;
   height: 50px;
   font-weight: 500;
   border-radius: 15px;
   background-color: #ffffff;
   border: #ffffff;
   
 }

.sub-page-hero{
  background-color: #e9dfce ;
  min-height: 100vh;
}

.section-1{
  display: flex;
  margin-top: 10vh;
  /* justify-content: space-around; */
  /* border: solid black; */
}
.logo-img{
  background: url(/imgs/sm2-1\ copy.png) no-repeat center center;
  background-size: contain;
  height: 70vh;
  width: 50vw;
}
.flex-container-2{
  /* text-align: center; */
  align-items: center;
  /* border: solid red; */
  font-size: 72px;
  padding: 30px;
  width: 610px;
}

span{
  color: #f15927;
}

.flex-item-2{
  font-size: 3rem;
  /* border: solid green; */
  text-align: center;
  /* color: #fff; */
}

.flex-item-2 a {
  text-decoration: none;
  color: #000000;
  /* opacity: .5; */
}

.flex-item-2 a i:hover{
  border-bottom:  solid #f15927 2px;

}
/* Work CSS */
.work{
  /* display: flex;
   */
  background-color: #e9dfce ;
  height: 100vh;
}
.flex-main-container{
  display: flex;
  justify-content: space-around;
  /* border: solid black; */
  margin-top: 10px;
  /* background-color: #e9dfce; */
}
h2 {
  text-align: center;
  font-size: 72px;
  font-weight: 400;  
  /* margin-top: 10px; */
  padding-bottom: 10px;
  border-top: solid #000000;
  /* background-color: #e9dfce; */
}
.flex-container-3{
  /* border: solid #000000; */
  background-color: #ffffff;
  height: 560px;
  width: 429px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  
  /* justify-content: space-around; */
}


.work-img-1  {
  background: url(/imgs/placeholder-1-e1533569576673-960x960.png) no-repeat center center;
  background-size: contain;
  border: solid red;
  height: 275px;
  border-radius: 15px;
}
.work-img-2  {
  background: url(/imgs/placeholder-1-e1533569576673-960x960.png) no-repeat center center;
  background-size: contain;
  border: solid red;
  height: 275px;
  border-radius: 15px;

}
.work-img-3  {
  background: url(/imgs/placeholder-1-e1533569576673-960x960.png) no-repeat center center;
  background-size: contain;
  border: solid red;
  height: 275px;
  border-radius: 15px;
}

.flex-item-5 h3{
  text-align: center;
  font-size: 24px ;
  padding: 10px 10px 0px 0px;
}
.flex-item-5 p{
  text-align: center;
  padding: 10px 10px 0px 0px;
  line-height: 1.5;
}

/* .flex-container-3 h3{
  background-color: #e9dfce;
}
.flex-container-3 p{
  background-color: #e9dfce;
} */

/* About Section */

.about {
  border: solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  
}
.flex-container-4 {
  display: flex;
  flex-direction: column;
  border: solid red;
  height: 560px;
  width: 429px;
  border-radius: 15px;
}
.flex-container-5 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: solid red;
  height: 560px;
  width: 689px;
  border-radius: 15px;
}

.about-img {
  background: url(/imgs/placeholder-1-e1533569576673-960x960.png) no-repeat center center;
  background-size: contain;
  border: solid pink;
  height: 575px;
  border-radius: 15px;
}


